* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 80%;
    height: 100%;
    margin: auto;
}
.main-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1.08fr 4fr;
    grid-template-rows: .86fr 4fr;
}
/* SIDEBAR COMPONENTS */
.sidebar {
    grid-area: 1/1/3/2;
    background-color: #2481e3;
    display: grid;
    grid-template-rows: 80px 220px 200px;
    padding: 12px;
}
.title {
    display: flex;
    color: white;
    gap: 12px;
    padding: 7px 0px 0px 8px;
}
.title div img {
    height: 36px;
    width: 36px;
    margin-top: -4px;
}
.title > * {
    font-size: 24px;
}
.navigation, .settings {
    display: flex;
    flex-direction: column;
    gap: 14px;
    color: white;
    padding: 2px 0px 10px 14px;
}
.branding {
    display: flex;
    gap: 14px;
}
.branding > * {
    font-size: 18px;
}
.branding div img {
    height: 20px;
    width: 20px;
    object-fit: contain;
    filter: brightness(0) invert(1);
}
.branding h6 {
    padding-left: 4px;
}
.settings {
    justify-content: center;
    padding-top: 26px;
}
/* HEADER COMPONENTS */
.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 8px -6px;
    z-index: 1;
}
.header-child1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.search {
    display: grid;
    grid-template-columns: 1fr 7fr;
    justify-content: start;
}
.search-icon {
    place-self: center;
    margin: 6px -12px 0px 0px;
}
.search-icon img {
    height: 20px;
    width: 20px;

}
input {
    height: 24px;
    width: 91.5%;
    align-self: center;
    margin-left: -10px;
    border-radius: 16px;
    border-style: none;
    background-color: #ccdded;
}
.small-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.small-profile div img {
    height: 20px;
    width: 20px;
}
.small-profile .small-pic img {
    height: 36px;
    width: 36px;
}
.small-profile .user {
    width: max-content;
    font-size: 1rem;
    font-weight: 600;
}
.header-child2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 32px;
}
.user-info {
    display: flex;
    /* gap: 16px; */
}
.user-info .profile-pic img {
    height: 56px;
    width: 56px;
}
.user-greetings {
    display: flex;
    flex-direction: column;
    padding: 12px 0px 0px 16px;
    font-size: .8rem;
    align-content: center;
    gap: 1.5px;
}
.user-greetings p {
    font-size: .8rem;
    font-weight: 600;
}
.user-greetings .user {
    font-size: 1.2rem;
    font-weight: 600;
}
.actions {
    display: grid;
    padding-top: 8px;
    justify-content: end;
}
.buttons {
    display: flex;
    margin-right: 44px;
    gap: 24px;
}
.buttons > * {
    border-radius: 16px;
    height: 32px;
    width: 80px;
    padding: 4px;
    font-size: .8rem;
    font-weight: 600;
    color: white;
    border-style: none;
    background-color: rgb(23, 131, 233);
}
.profile-pic {
    align-self: center;
    justify-self: end ;
    padding-left: 12px;
}

/* MAIN-CONTENT COMPONENTS */
.main-content {
    background-color: #ccdded;
    min-height: 92.8%;
}
.tags {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 48px;
    padding: 12px 130px 2px 12px;
}
.tags p {
    font-size: 1.125rem;
    font-weight: 600;
}
.contents {
    display: flex;
    height: 85%;
    gap: 15px;
    padding: 4px 28px 0 10px;
}
.contents-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, 1fr);
    flex: 1;
    gap: 24px;
    padding-left: 5px;
}
.left-card {
    display: flex;
    flex-direction: column;
    border-left: 6px solid #face0a;
    border-radius: 8px;
    padding: 26px 18px 0px 16px;
}
.left-card h6 {
    font-size: 1rem;
    letter-spacing: -.5px;
    color: black;
    font-weight: 700;
}
.card-content {
    grid-area: 1/1/5/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 74%;
}
.card-content p {
    font-size: .825rem;
}
.card-icons {
    grid-area: 5/2/7/3;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 36px;
    gap: 18px;
}
.card-icons > img {
    height: 20px;
    width: 20px;
}
.contents-right {
    display: grid;
    grid-template-rows: 1.1fr .25fr 1.065fr;
    flex-basis: 25.75%;
    padding-left: 2px;
}
.right-card {
    padding: 10px 22px 0px 22px;
    border-radius: 8px;
}
.announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding-left: 4px;
    padding-top: 9px;
}
.announcements div {
    padding: 9px 12px 15px 4px;
}
.announcements h6 {
    font-size: .8rem;
}
.announcements p {
    font-size: .6rem;
}
.announcements div:nth-child(2) {
    border-top: 1px solid rgb(128,128,128,0.6);
    border-bottom: 1px solid rgb(128,128,128,0.6);
}
.trending {
    padding-bottom: 4px;
    align-self: end;
    font-size: 1.125rem;
}
.trending-card {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
.trending-items {
    display: flex;
    gap: 6px;
}
.trending-items .hero img {
    height: 38px;
    width: 38px;
    border-radius: 50%;
}
.trending-items p {
    font-size: 12px;
}
.username, .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
}
.card1 {
    grid-area: 1/1/4/2;
    background-color: #fafbfc;
}
.card2 {
    grid-area: 1/2/4/3;
    background-color: #fafbfc;
}
.card3 {
    grid-area: 1/1/2/2;
    background-color: #fafbfc;
}
.card4 {
    grid-area: 4/1/7/2;
    background-color: #fafbfc;
}
.card5 {
    grid-area: 4/2/7/3;
    background-color: #fafbfc;
}
.card6 {
    grid-area: 7/1/10/2;
    background-color: #fafbfc;
}
.card7 {
    grid-area: 7/2/10/3;
    background-color: #fafbfc;
}
.card8 {
    grid-area: 3/1/4/2;
    background-color: #fafbfc;
}
