* {
    margin: 0;
    padding: 0;
}
body {
    width: 60%;
    height: 100%;
    margin: auto;
}
.main-container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1.08fr 4fr;
    grid-template-rows: .86fr 4fr;
}
/* Sidebar components */
.sidebar {
    grid-area: 1/1/3/2;
    background-color: skyblue;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    background-color: bisque;
}
.main-content {
    background-color: azure;
}